[Unit]
Description=CAR CARDOS logger

[Service]
EnvironmentFile=-/etc/environment.d/00-creeat.conf
ExecStart=/home/kaklik/repos/CRREAT_cars/cardos/log_cardos.sh

[Install]
WantedBy=multi-user.target
