[Unit]
Description=CAR GPS logger

[Service]
#Wants=gpsd.service
#After=gpsd.service
EnvironmentFile=-/etc/environment.d/00-creeat.conf
ExecStart=/home/kaklik/repos/CRREAT_cars/gps/gpslog.sh

[Install]
WantedBy=multi-user.target
